body {
    background-image: url('./assets/images/light-bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
}

body.dark-mode {
    background-image: url('./assets/images/dark-bg.jpg');

    color: #ffffff;
}

body.dark-mode .navbar {
    background-color: #1f1f1f !important;
}

body.dark-mode .nav-link {
    color: #ffffff;
}

body.dark-mode a {
    border-color: #ffffff;
    color: #ffffff;
}

body.dark-mode button {
    border-color: #ffffff;
    color: #ffffff;
}