h1 {
  font-size: 2rem;
}
h1,
p {
  justify-content: center;
  align-items: center;
  text-align: center;
}

a {
  font-size: 2rem;
}

.home-container {
  background-color: rgba(197, 197, 197, 0.186);
  border-radius: 10px;
  margin:5rem;
  padding: 2rem;
  box-shadow: rgba(0, 0, 0, 0.559) 0px 3px 12px;
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
}
.btn-outline-dark {
  background-image: radial-gradient(rgb(20, 51, 146), rgb(129, 68, 215));    color: transparent;
  color: transparent;
  background-clip: text;
  font-weight: bold;
  font-size: x-large;
}
